@mixin formflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.formulario{
    @include formflex;   
}

.bform{
    border: none;
    margin: 10px;
    box-shadow: 2px 2px 6px #000;
}

.bform-prueba{
    @extend .bform;
}

.objetos_formularios{
    margin: .7em;
    padding: .3em;
}