*{
    padding: 0px;
    margin: 0px;
    font-family: 'PT Sans Caption', sans-serif;
    letter-spacing: 1.5px;
}

body{
    background-color: lightgoldenrodyellow;
}

.col{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: #dc3545;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    width: auto;
}

