h1{
    text-align: center;
    text-decoration: underline;
    color: black;
    margin: 1em;
    font-weight: 500;
}

main{
    h2{
        text-align: center;
        font-weight: 500;
    }
}

article{
    h2{
        text-align: center;
        font-weight: 500;
        border: 2px solid black;
        color: black;   
        background-color:$colorterciario;
        padding: 10px;
        margin: 30px auto;
    }
}

h3{
    text-align: center;
}

h3{
    span{
        color: rgb(45, 118, 201);
        text-decoration: underline;
    }
}

p{
    margin: 2vh;
    font-weight: 700;
}
