@import "variablesgenerales";
@import "general";
@import "textos";
@import "imagenes";
@import "form";
@import "ventas";
@import "signup";

@media (max-width: 768px){
    .card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }

   .card:hover{
    border: 3px outset #a22;
    transition: all 1;
   }

   .card-text{
    width: 150px;
   }

   .registro-container{
    width: 100%;
   }

   h2{
    width: 100%
   }
}